*{margin:0;padding:0;}
body{
    background-color: rgba(213, 233, 255, 0.321);
}
/* shared style */
.raleway-normal{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
.inter-bolder {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style: normal;
}
.primary-btn{
    background-color: #4E47FF;
    padding:12px 36px;
    color:#fff;
    font-size: 16px;
    border:0;
    border-radius:10px;
}
/* header */
header{
    background-image: url('../Assets/Hero-bg.png');
}

/* nav styles */
.header-nav{
    max-width:1140px;
    display:flex;
    justify-content: space-between;
    margin:0 auto;
    padding:50px 0;
}
.header-nav li{
    list-style-type: none;
}
.header-nav li a{
    text-decoration: none;
}
.nav-logo{
    color:#4E47FF;
    font-size:34px;
}

/* header-section  */
.header-section{
    width:905px;
    margin:0 auto;
    text-align: center;
    padding:140px 0;
}
.header-title{
    font-size: 65px;
    padding:0 10px 35px 10px;
}
/* header design ends  */

main{
    width:1140px;
    margin:0 auto;
}
main section{
    margin-top:120px;
}

.action{
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.action-content{
    width:40%;
}
.action-title{
    font-size:42px;
    padding:10px 0px;
}
.action-description{
    font-size: 24px;
    color:rgba(37, 36, 50, 0.5);
    margin-bottom:18px;
}
.action img{
    width:403px;
    border-radius:48px;
}

/* productive users  */
.pro-users{
    background-color: rgba(78, 71, 255, 0.1);
    border-radius:24px;
    padding:50px 80px;
    text-align: center;
}
.pro-users-title{
    font-size:38px;
    font-weight: bold;
}
.user-counter-container{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.counter-title{
    font-size:80px;
    color:#4E47FF;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
}

/* User review  */
.user-review-title{
    text-align:center;
    font-size: 42px;
    margin-bottom:35px;
}
.cards-container{
    display: flex;
    gap:20px;
    
}
.card{
    border:1px solid #ddd;
    border-radius:10px;
    padding:10px;
    background-color: #fff;
}
.stars{
    margin-bottom:10px;
}
.card-title{
    margin-bottom:10px;
}
.card-description{
    margin-bottom:20px;
}
.card .user-img{
    border-radius:50%;
}
.card .user{
    display:flex;
    gap:10px;
}
.user-details p{
    color:#a7a0a0e5;
}
.user-details .r-name{
    color:#3e3b3b;
}

/* Ready to focus section  */
.ready-focus{
    background-color: #fff;
    padding:71px 150px;
    text-align:center;
    border-radius:14px;
}
.ready-focus h2,p,button{
    margin-bottom:20px;
}
.ready-focus img{
    border-radius:48px;
}

/* get in touch  */
.get-in-touch{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.git-title{
    font-size:80px;
    font-weight:700;
    
}
.git-form{
    width:450px;
}
.git-form input{
    width:408px;
    padding:20px;
    border:none;
    border-radius:10px;
    
}
textarea{
     width:408px;
    padding:20px;
    border:none;
    border-radius:10px;
    margin-bottom:15px;
}
label{
    font-weight: 700;
    display: block;
    margin-top:10px;
}


